Apps/TranslateApp/TranslateApp.UI/Connected Services/TranslateService/QuickyApp.TranslateApp.Engine.Wcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuickyApp.TranslateApp.Engine.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuickyApp.TranslateApp.Engine.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/QuickyApp.TranslateApp.Engine.Enums" />
  <xs:complexType name="TranslateWord">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuickyApp.TranslateApp.Engine.Enums" minOccurs="0" name="Language" type="q1:TranslateLanguages" />
      <xs:element minOccurs="0" name="Word" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TranslateWord" nillable="true" type="tns:TranslateWord" />
</xs:schema>